http://localhost {
    reverse_proxy /lib/* https://s1.moodrain.cn {
	header_up Host {http.reverse_proxy.upstream.hostport}
    }
    @notLib {
        not path /lib/*
    }
    root @notLib ./public
    php_fastcgi 127.0.0.1:9000
    try_files {path} {path}/ /index.php?{query}
    file_server
}
